<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>

    <h1 class="homeh1">Bienvenido a Yeseria Gauna</h1>
    <main id="home">
        <!-- banner -->
 <%- include('./partials/carrousel') %>
        
        <h3 class="homeP">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, soluta dolorum voluptates ab id repudiandae dolorem porro? Error, reiciendis voluptatem! Debitis ipsa dignissimos obcaecati pariatur qui porro voluptas dolorum quibusdam!</h3>
        <!-- productos  ofertas-->
        <!-- partials de banners -->
       <!-- fin de productos ofertas -->
       <section class="title-section">
        <div class="title-container">
            <h2>
                Ofertas
            </h2>
            <a href="/products">Ver todas</a>
            <hr>
        </div>
    </section>
        <!-- productos destacados -->
        <section class="title-section">
            <div class="title-container">

                <h2>
                    Productos destacados
                </h2>

                <hr>
            </div>
        </section>
        <!-- productos -->
       
        <section>
            <!-- form de registro -->
           <!--  <form action="" method="">
                <div class="form">
                    <div class="input-container">
                        <input class="input-style" type="email" name="email" placeholder="Ingrese su email*">
                        <span class="error-message">Debe ingresar su email</span>
                    </div>
                    <div class="input-container">
                        <input class="input-style" type="text" name="name" placeholder="Nombre*">
                        <span class="error-message">Debe ingresar su nombre</span>
                    </div>
                    <div class="button-container">
                        <button type="submit" class="btn btn-submit">Suscribite</button>
                        <span class="error-message text-center">Los datos no son correctos</span>
                    </div> -->
                    <!-- <div class="img-form">
                        <img src="" alt="">
                    </div> -->
                </div>
            </form>
        </section>
    </main>
    <%- include('./partials/footer') %>
    <%- include('./partials/scripts') %>
</body>
</html>