<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <h1>todos los productos</h1>
    <% for( let i = 0; i < materials.length; i++ ) { %>
        <li>
            <a href="/products/detail/<%= materials[i].id %><% materials[i] %>"><%= materials[i].name %></a>
        </li>
    <% } %>
    </h2>
    <%- include('../partials/footer') %>
</body>
</html>